<th:block>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Brave DIY</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS here -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/themify-icons.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/nice-select.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/flaticon.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/gijgo.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/slicknav.css}">
        <!-- JS here -->
        <script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
        <script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <script th:src="@{/js/isotope.pkgd.min.js}"></script>
        <script th:src="@{/js/ajax-form.js}"></script>
        <script th:src="@{/js/waypoints.min.js}"></script>
        <script th:src="@{/js/jquery.counterup.min.js}"></script>
        <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
        <script th:src="@{/js/scrollIt.js}"></script>
        <script th:src="@{/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{/js/wow.min.js}"></script>
        <script th:src="@{/js/nice-select.min.js}"></script>
        <script th:src="@{/js/jquery.slicknav.min.js}"></script>
        <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
        <script th:src="@{/js/plugins.js}"></script>
        <script th:src="@{/js/gijgo.min.js}"></script>
        <script th:src="@{/js/main.js}"></script>

    </head>
</th:block>