<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Brave DIY</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<main>
<!-- form itself end-->

    <div class="popup_box ">
        <div class="popup_inner">
            <div class="logo text-center">
                <a href="#">
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            <h3 class="text-center" >Sign in</h3>
            <form th:action="@{/login}" method="post">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <input placeholder="Enter email" type="email" class="form-control" id="email" name="email"/>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input placeholder="Password" type="password" class="form-control" id="password" name="password"/>
                    </div>
                    <div class="col-xl-12">
                        <button type="submit" class="boxed_btn_orange">Sign in</button>
                    </div>
                </div>
            </form>
            <p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="register">Sign Up</a>
            </p>
        </div>
    </div>

<!-- form itself end -->
</main>
</body>
</html>
